/* NAVBAR */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #202124;
    padding: 6px;
  }
  
  li {
    float: left;
  }

  ul > li {
    color: #e8eaed;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    text-decoration: underline;
    color: white;
  }

/* GOOGLE SEARCH */
*{
    margin:0;
    padding:0;
    font-family: Roboto,arial,sans-serif;
}
section{
    position: relative;
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .main {
    width: 580px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 75px;
}
section .main .searchbx{
    position: relative;
    width:100%;
    margin-top: 20px;
}
section .main .searchbx .query{
    width: 100%;
    padding: 13px;
    border: 1px solid #5f6368;
    outline: none;
    font-size: 16px;
    border-radius: 24px;
    background-color: #202124;
    color: #e8eaed;
    padding-left: 45px;
    padding-right: 45px;
    position: relative;
    right: 50px;
}
section .main .searchbx .icons .fa-microphone{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 12px 20px;
    align-items: right;
    pointer-events: none;
    color: white;
}
section .main .searchbx .icons .fa-magnifying-glass{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 12px 20px;
    align-items: left;
    pointer-events: none;
    color: white;
    right:10px;
}
body {
    background-color: #202124;
}
.submit{
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.google{
    height: 105px;
    width:280px;
    position: relative;
    margin-bottom: 20px;
}
.google_images{
    height:115px;
    width:295px;
    position: relative;
    bottom: 12px;
    right:2px;
    margin-bottom: 10px;
}
/* Advanced Search */
.advanced_google_logo{
    height: 24px;
    width: 74px;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 16px;
}
.appbar{
    margin: 25px 35px;
    color: #f28b82;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: 300;
}
hr{
    border-color: #3c4043;
    border-bottom: 1px solid #3c4043;
}
.adsearch{
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 20px 0 20px;
}
.a{
    width: 100%;
    clear: both;
}
.b{
    clear: both;
}
.c{
    color: #e8eaed;
    float: left;
    display: inline-flex;
    min-width: 167px;
    width: 100%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    vertical-align: middle;
    margin-bottom: 10px;
}
.d{
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}
.e{
    float: left;
    display: inline-flex;
    min-width: 150px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}
.f{
    float: left;
    display: inline-flex;
    width: 33%;
    font-size: 13px;
    font-weight: 700;
    color: #777;
    padding-left: 5px;
    vertical-align: middle;
}
.g{
    height: 30px;
    display: table-cell;
    vertical-align: middle;
    color: #e8eaed;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.advancedselections{
    width: 100%;
    clear: both;
}
.aa{
    clear: both;
}
.bb{
    float: left;
    display: inline-flex;
    min-width: 50px;
    width: 10%;
    height: 42px;
    color: #bdc1c6;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}
.cc{
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}
.dd{
    float: left;
    display: inline-flex;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
    margin-bottom: 25px;
}
.ee{
    padding-right: 16px;
    width: 100%;
}

.eeinput{
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    outline: none;
}
input.eeinput{
    background: #202124;
    border: 1px solid #5f6368;
    color: #bdc1c6;
}
.advancedselections .dd input[type="text"]{
    width: 100%;
    text-align: left;
}
.ff{
    float: left;
    display: inline-flex;
    width: 32%;
    min-width: 160px;
    margin: 0 0 8px 1%;
    font-size: 11px;
    padding-left: 5px;
    vertical-align: middle;
    position: relative;
    color: #969ba1;
}
.gg{
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}
.adbtn{
    margin: 10px 0;
    background: #8ab4f8;
    border-color: #8ab4f8;
    border: 1px solid #3079ed; 
    padding: 10px; 
    border-radius: 2px; 
    font-size: 11px; 
    font-weight: bold;
    color: #202124;
}
@media only screen and (max-width: 457px) {
   .f, .ff{
    display:none;
   }

}
